<div class="container">
    <h2>Benvingut al meu portfolio!</h2>
    <p>A continuació podràs veure alguns dels meus treballs de DAW en la caparrella i el meu currículum.</p>

    <h4>El meu currículum</h4>
    <p>A continuació hi ha un botó per accedir al meu currículum personal. Pots entrar i donar-li un cop d'ull.</p>
    <a href="curriculum" class="btn btn-primary">Veure currículum</a><br><br>

    <h4>Els meus treballs</h4>
    <p>Per acabar, podràs veure també alguns dels meus treballs realitzats en DAW en la Caparrella.</p>
    <a href="treballs" class="btn btn-primary">Veure treballs</a><br><br>
</div>